<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Super chat</title>
</head>

<body>

    <div class="messages-Box" id="messagesBox">
        <header class="message-Box-Header">
            <div class="message-Box-Header-Title">
                <i class="fas fa-comment-alt" id="optionButton"></i> SuperChat
            </div>

            <div class="message-Box-Header-Option">
                <div class="notification-box">
                    <i class="notification" aria-hidden="true"><span class="badge" id="badge"></span></i>
                    <div class="tooltip" id="tooltip"><p>Hey fdp</p></div>
                </div>
                <div class="nav-dropdown">

                    <span><i class="fas fa-cog"></i></span>
                    <div class="dropdown-content" id="dropdownContent">
                        <div id="currentProfileImage"></div>
                    </div>
                </div>
        </header>

        <main class="messages-chat" id="messageChat">


        </main>

        <form action="/" methode="post" id="envoyerMessage" class="messages-inputArea">
            <input type="text" id="input"  class="messages-input"
                placeholder="Ecrivez quelque chose ici ..." />
            <input class="messages-sendButton" type="submit" value="Envoyer" id="nouveau_message" />
        </form>
    </div>

    <script>
        $(document).ready(function () {
            window.socket = io.connect("localhost:8080");
            
            window.pseudo = prompt("Quel est votre pseudo ?");
            socket.emit("pseudo", pseudo);
            document.title = pseudo + " - " + document.title;

            socket.on("nouveau_client", (message) => {

                $("#currentProfileImage").addClass("current-profil-image").css({ "background-image": "url(" + message.image + ")" }).append("<div>").attr("id", "currentPseudo").text(message.pseudo)

                let d = new Date();
                appendEventMessage(pseudo, message.message, d);

                //option couleur
                //$('#messageBubble').css('background-color', "#" + Math.random().toString(16).slice(2, 8));
            });

            socket.on("message_client", (currentMessage) => {

                if (currentMessage.pseudo == pseudo) {
                    appendMessage(currentMessage.pseudo, currentMessage.pictureProfile, "right", currentMessage.message);
                } else {
                    appendMessage(currentMessage.pseudo, currentMessage.pictureProfile, "left", currentMessage.message);
                }

            });

            socket.on("client_deconnect", (message) => {
                let d = new Date();
                appendEventMessage(pseudo, message, d);
            });

            socket.on("deconnexion_client", (message) => {
                let d = new Date();
                appendEventMessage(pseudo, message, d);
                socket.disconnect();
            });


            $("#envoyerMessage").submit(() => {
                let message = $("#input").val();
                socket.emit("message_client", message);

                $("#input").val('');
                return false;
            });

            // --- Notifications
            socket.on("newNotif", (notifCompteur) => {
                console.log("Pseudo : " + notifCompteur.pseudo + " nb notif : " + notifCompteur.cptNotif);
                //$(".tooltip").html("<p>Vous avez " + notifCompteur + " messages non lu</p>");
                $("#badge").show();
                $("#badge").html(notifCompteur.cptNotif);
            });

            
            $("#input").unbind('click').click(() => {
                socket.emit("resetNotification", {clientId : socket.id});                
            });

            $(".notification").hover(() => {
                console.log("hover");
                $("#tooltip").toggle();
            });

            socket.on("resetNotificationClient", (cptNotif) => {
                console.log("resetNotificationClient : " + cptNotif);
                $("#badge").html(cptNotif);
                $("#badge").hide();
            });

            // ---- End notifications

            socket.on("allPictures", (allPictures) => {
                allPictures.forEach(element => {

                    $(".content-inner-modal-box").append(`
                            <div id=${element} class="picture-profile" style="background-image: url(images/photo_profile/${element})" ></div>`);
                });

                $('.picture-profile').unbind('click').click(function () {
                    let avatarChoice = [];

                    //Display green around the selected picture
                    $('.picture-profile').removeClass("picture-profile-selected");
                    $(this).addClass("picture-profile-selected");

                    if (avatarChoice.length == 0) {
                        avatarChoice.push($(this).attr('id'));
                    } else {
                        avatarChoice = [];
                    }

                    //When the validate button is clicked the client send his choice 
                    //to the server and the server change the variable socket.profilePicture to the new one
                    $("#validateButton").unbind('click').click(() => {
                        if (avatarChoice[0] !== undefined) {
                            closeModal();
                            socket.emit("newAvatar", avatarChoice[0]);
                        }
                    });

                });

            });

            socket.on("changedAvatar", (message) => {
                let d = new Date();
                appendEventMessage(pseudo, message.message, d);
                if (message.pseudo == pseudo) {
                    $("#currentPseudo").css('background-image', 'none');
                    $("#currentPseudo").addClass("current-profil-image").css("background-image", "url(images/photo_profile/" + message.image + ")");
                }

            });

        });
    </script>

    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/scripts/chat.js"></script>
    <script type="text/javascript" src="/scripts/modal.js"></script>
</body>

</html>